<template>
    <main class="container">
        <div class="bg-light p-5 rounded">
            <h3>Welcome User!!</h3>
            <p class="lead">This is the Homepage of the Assignment which is given as part of the Recruitment Process for
                Hahn
                Software Organisation. Below are the items which are being implemented in this Single Page Applciation.
                All the code was Checkd in and available in Github.</p>
            <!-- <ul class="list-group" style="padding-top: 15px;">
                <li class="col-md-4 list-group-item list-group-item-success">Add Applicant UI</li>
                <li class="col-md-4 list-group-item list-group-item-success">Aurelia Validation</li>
                <li class="col-md-4 list-group-item list-group-item-success">All CRUD (Backend with Swagger)</li>
            </ul> -->
        </div>
    </main>
</template>